/* Write your CSS code here. */
.bg-container {
  background-image: linear-gradient(to right, #ffeeee, #ffebeb, #ffc0bb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.feedback-card {
  background-color: #ffffff;
  border-radius: 5px;
  max-height: 350px;
  max-width: 576px;
  text-align: center;
  font-family: 'Roboto';
  color: #0f172a;
  padding: 20px;
}

.list-container {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
}

.liItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FeedbackImage {
  width: 50px;
}

.thankyou-card {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #1e293b;
}

.loveImg {
  width: 50px;
}

h1 {
  font-size: 28px;
}
